{% extends 'base.html'%}
{% block about %}

            <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Главная</a></li>
  <li class="breadcrumb-item active">О проекте</li>
</ol>

<h1>О проекте</h1>
    <p>Интика это бесплатная, анонимная доска для размещения интим объявлений. Здесь каждый желающий может оставить свое объявление или найти подходящие из сотен других, связавшись с автором напрямую. Мы не публикуем контактные данные из соображения конфиденциальности, отправить ответ на заинтересовавшое объявление можно воспользовавшись специальной формой.</p>
    <h2>Публикация объявлений</h2>
    <p>Любой желающий может оставить одно или несколько объявлений, если они соответствуют тематике нашего ресурса.</p>
    <h2>Конфиденциальность</h2>
    <p>Мы не отслеживаем данные пользователей, публиковать объявления можно с любого IP адреса, любой страны и в любом количестве.</p>
    <p>Мы не разглашаем данные авторов объявлений третим лицам.</p>
    <p>Все загружаемые фотографии надежно защищены от индексации поисковыми системами.</p>
{% endblock %}