{% extends 'base.html' %}
{% load bootstrap %}
{% block send %}

    <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Главная</a></li>
         <li class="breadcrumb-item"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></li>
  <li class="breadcrumb-item active">Ответить на объявление</li>
</ol>

<h1>Ответить на объявление</h1>
    <form action="" method="post">
    {% csrf_token %}
        {{ form|bootstrap }}

    <input type="submit" value="Ответить" class="btn btn-success btn-lg"/>
</form>

{% endblock %}